.ratingContainer {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ratingContainer.small .star {
    width: 16px;
    height: 16px;
}
.ratingContainer.medium .star {
    width: 24px;
    height: 24px;
}
.ratingContainer.large .star {
    width: 32px;
    height: 32px;
}

.starsContainer {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 0.844px 7.609px 0 0;
}

.starWrapper {
    position: relative;
    width: auto;
    height: auto;
    flex-shrink: 0;
}

.star {
    display: block;
    max-width: none;
    transition: filter 0.2s, opacity 0.2s;
}

.ratingText {
    margin-top: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2e2f35;
    line-height: 24px;
    white-space: nowrap;
}

.ratingContainer.dark .ratingText {
    color: #fff;
} 