.headerContainer {
    background-color: #ffffff;
    padding: 20.474px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    max-width: 1290px;
    margin: 0 auto;
}

.logoContainer {
    flex-shrink: 0;
}

.rightSide {
    display: flex;
    align-items: center;
    gap: 30px; /* Adjust this value to match the design */
}

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.actions {
    display: flex;
    gap: 10px;
    align-items: center;
} 